.message-logout{
    display: flex;
    width: 50%;
    justify-content: end;
}

.message-search {
    background-color: transparent;
    padding: 0.6rem;
    margin-right: 1.5rem;
    border: 0.1rem solid var(--dark-blue-primary);
    border-left: 0.4rem solid var(--dark-blue-primary);
    border-right: 0.4rem solid var(--dark-blue-primary);
    border-radius: 0.9rem;
    color: var(--dark-pink);
    width: 70%;
    font-size: 1.2rem;
    font-family: "Squared";  
    letter-spacing: 1px;

  }
    .message-search:focus {
        border: 0.1rem solid var(--dark-pink);
        border-left: 0.4rem solid var(--dark-pink);
        border-right: 0.4rem solid var(--dark-pink);
        border-radius: 0.9rem;
        outline: none;
    }

.container-chatContainer {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    gap: 0.1rem;
    overflow: hidden;

    @media screen and (min-width: 720px) and (max-width: 1080px) {
        grid-template-rows: 15% 70% 15%;
    }

    .chat-header-chatContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        .user-details-chatContainer {
            display: flex;
            align-items: center;
            gap: 1rem;

            .avatar-chatContainer {
                .img-chatContainer {
                    height: 3rem;
                }
            }

            .username-chatContainer {
                .h3-chatContainer {
                    color: white;
                }
            }
        }
    }

    .chat-messages-chatContainer {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.2rem;

            &-thumb {
                background-color: #ffffff39;
                width: 0.1rem;
                border-radius: 1rem;
            }
        }

        .message-chatContainer {
            display: flex;
            align-items: center;

            .content-chatContainer {
                max-width: 40%;
                overflow-wrap: break-word;
                padding: 1rem;
                font-size: 1.1rem;
                border-radius: 1rem;
                color: #d1d1d1;

                @media screen and (min-width: 720px) and (max-width: 1080px) {
                    max-width: 70%;
                }
            }
        }

        .sended-chatContainer {
            justify-content: flex-end;

            .content-chatContainer {
                background-color: #4f04ff21;
            }
        }

        .recieved-chatContainer {
            justify-content: flex-start;

            .content-chatContainer {
                background-color: #9900ff20;
            }
        }
    }
}