.yellow{
  background-color: yellow;
}

.contact-search {
  background-color: transparent;
  padding: 0.6rem;
  border: 0.1rem solid var(--dark-blue-primary);
  border-radius: 0.4rem;
  color: var(--dark-pink);
  width: 89%;
  font-size: 1.2rem;
  font-family: "Squared";  
    letter-spacing: 1px;
}
  input:focus {
    border: 0.1rem solid var(--dark-pink);
    outline: none;
  }

.container-contact {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;

  .brand-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    .img-contact {
      height: 2.5rem;
      width: 2.5rem;
    }

    .h3-contact {
      color: white;
      text-transform: uppercase;
      // border: 2px solid red;
    }
  }

  .contacts-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;

    &::-webkit-scrollbar {
      width: 0.2rem;

      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }

    .contact-contact {
      background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;

      .avatar-contact {
        .img-contact {
          height: 3rem;
        }
      }

      .username-contact {
        .h3-contact {
          color: white;
        }
      }
    }

    .selected-contact {
      background-color: #9a86f3;
    }
  }

  .current-user-contact {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .avatar-contact {
      .img-contact {
        height: 4rem;
        max-inline-size: 100%;
      }
    }

    .username-contact {
      .h2-contact {
        color: white;
      }
    }

    @media screen and (min-width: 720px) and (max-width: 1080px) {
      gap: 0.5rem;

      .username-contact {
        .h2-contact {
          font-size: 1rem;
        }
      }
    }
  }
}